[Unit]
Description=SystemInfo
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/opt/SysInfo/com_data/ComSendData -i
User=user

[Install]
WantedBy=multi-user.target
