[Desktop Entry]
Encoding=UTF-8
Name=SystemInfo
Name[ru]=SystemInfo
Type=Application
NoDisplay=false
Exec=/opt/SysInfo/system_info/start_sys_info
Icon=office-organizer
X-FLY-IconContext=Applications
Hidden=false
Terminal=false
StartupNotify=false
