[Desktop Entry]
Encoding=UTF-8
Name=Vol
Name[ru]=Vol
Type=Application
NoDisplay=false
Exec=/opt/cpu_info/VolumeInfo
Icon=office-organizer
X-FLY-IconContext=Applications
Hidden=false
Terminal=false
StartupNotify=false
